.tags {
    display: flex;
    overflow-x: scroll;
}
.single-tag {
    background-color: rgb(219, 213, 213);
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.selected-tag {
    background-color: black;
    color: white;
}
.videos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 10px;
}
.single-video {
    /* height: 290px;
    width: 290px; */
    cursor: pointer;
}
.thumbnail-image {
    height: 200px;
    width: 290px;
    border-radius: 5px;
}
.video-details {
    display: flex;
    align-items: center;
    text-align: start;
    width: 290px;
}
.channel-image {
    height: 30px;
    border-radius: 50%;
}
.video-name {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    width: 80%;
    margin-left: 5px;
}
.channel-name {
    color: grey;
    font-weight: 100;
    font-size: 12px;
    text-align: start;
    margin: 0px 0px 0px 30px;
}