.video-upload {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.video-upload-cont {
    margin: 20px;
}
.action-label {
    margin: 5px;
}
.video-upload-title {
    margin: 10px;
}
.upload-action {
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    padding: 10px;
    cursor: pointer;
}
.upload-action:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}